// =============================================================================
// Form Item
// A wrapper for Input Elements
// =============================================================================

:host {
    /**
    * @prop --og-combobox__flyout-BoxShadow:
    * Shadow of the combobox list
    */
    --og-combobox__flyout-BoxShadow: none;

    /**
    * @prop --og-combobox__flyout-Background:
    * Background color of the combobox list
    */
    --og-combobox__flyout-Background:
        var(--OG-COLOR-PRIMARY--0, #{$og-color-primary--0});

    /**
    * @prop --og-combobox__flyout-MinWidth:
    * Minimum Width of the Flyout Container.
    */
    --og-combobox__flyout-MinWidth: 0;

    /**
    * @prop --og-combobox__flyout-MaxWidth:
    * Maximum Width of the Flyout Container.
    */
    --og-combobox__flyout-MaxWidth: 100%;

    /**
    * @prop --og-combobox__flyout-Width:
    * Width of the Flyout Container.
    */
    --og-combobox__flyout-Width: 100%;


    /**
    * @prop --og-combobox__flyout__item-Background:
    * Background color of list item
    */
    --og-combobox__flyout__item-Background: transparent;

    /**
    * @prop --og-combobox__flyout__item-Background--hover:
    * Background color of list item when hovered
    */
    --og-combobox__flyout__item-Background--hover:
        var(--OG-COLOR-PRIMARY--100--15, #{$og-color-primary--100--15});

    /**
    * @prop --og-combobox__flyout__item-Background--active:
    * Background color of list item when clicked
    */
    --og-combobox__flyout__item-Background--active:
        var(--OG-COLOR-PRIMARY--100--30, #{$og-color-primary--100--30});

    /**
    * @prop --og-combobox__flyout__item-Color:
    * Text color of the list item
    */
    --og-combobox__flyout__item-Color:
        var(--OG-COLOR-SHADE--100, #{$og-color-shade--100});

    /**
    * @prop --og-combobox__flyout__item-LineHeight:
    * Line Height of the list item
    */
    --og-combobox__flyout__item-LineHeight: 1.5;

    /**
    * @prop --og-combobox__flyout__item-Padding:
    * Padding (inner spacing) of the list item
    */
    --og-combobox__flyout__item-Padding: 1rem 2rem;
}

:host {
    min-width: var(--og-combobox__flyout-MinWidth);
    max-width: var(--og-combobox__flyout-MaxWidth);
    width: var(--og-combobox__flyout-Width);
    display: none;
    position: fixed;
    z-index: 9999;
    box-shadow: var(--og-combobox__flyout-BoxShadow);
    background: var(--og-combobox__flyout-Background);
    overflow-x: hidden;
    overflow-y: auto;
    backface-visibility: hidden;
}

:host([visible]) {
    display: block;
}

// Flyout List
.og-combobox-options__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
}

.og-combobox-options__list__item {
    line-height: var(--og-combobox__flyout__item-LineHeight);
    display: block;
    cursor: pointer;
    padding: var(--og-combobox__flyout__item-Padding);
    transition: background .2s ease;
    color: var(--og-combobox__flyout__item-Color);
    background: var(--og-combobox__flyout__item-Background);

    &:hover {
        --og-combobox__flyout__item-Background: var(--og-combobox__flyout__item-Background--hover);
    }
}

.og-combobox-options__list__item--active,
.og-combobox-options__list__item--active:hover {
    --og-combobox__flyout__item-Background: var(--og-combobox__flyout__item-Background--active);
}
