:host {
    --og-calendar__header-Border: 1px solid var(--OG-COLOR-SHADE--100--20, #{$og-color-shade--100--20});

    display: block;
    width: fit-content;
}

.calendar__container {
    display: inline-block;

    & + & {
        margin-left: 32px;
    }
}

.calendar__header {
    display: flex;
    text-align: center;
    border-bottom: var(--og-calendar__header-Border);
    padding-bottom: 8px;
}

.calender__header__main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calender__header__prefix,
.calender__header__suffix {
    padding: 4px;
}

.calendar__main {
    display: block;
    padding-top: 8px;
}

.calendar__nav {
    cursor: pointer;
}

.calendar__nav--hidden {
    display: none;
}


.calender__header__month,
.calender__header__year {
    display: inline-block;
    padding: 4px;
}
