.og-dialog__background {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: #000000dd;
    user-select: none;
}

.og-dialog__hidden {
    display: none;
}

.og-dialog {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 300px;
    height: 200px;
    margin-left: -150px;
    margin-top: -100px;
    background: #fff;
    user-select: text;
}

.og-dialog__header {
}

.og-dialog__content {
}

.og-dialog__svg-container {
    width: 30%;
}

.og-dialog__footer {
}
