:host(.og-theme--dark),
.og-theme--dark {

    // ---------------------------------------------------------------------------
    // PRIMARY Colors
    // ---------------------------------------------------------------------------
    --OG-COLOR-PRIMARY--0:          hsla(170, 99%, 0%, 1);
    --OG-COLOR-PRIMARY--0--30:      hsla(170, 99%, 0%, .3);
    --OG-COLOR-PRIMARY--0--50:      hsla(170, 99%, 0%, .5);
    --OG-COLOR-PRIMARY--80:         hsla(170, 99%, 28%, 1);
    --OG-COLOR-PRIMARY--100:        hsla(170, 99%, 35%, 1);
    --OG-COLOR-PRIMARY--100--15:    hsla(170, 99%, 35%, .15);
    --OG-COLOR-PRIMARY--100--20:    hsla(170, 99%, 35%, .2);
    --OG-COLOR-PRIMARY--100--25:    hsla(170, 99%, 35%, .25);
    --OG-COLOR-PRIMARY--100--30:    hsla(170, 99%, 35%, .3);
    --OG-COLOR-PRIMARY--100--50:    hsla(170, 99%, 35%, .5);
    --OG-COLOR-PRIMARY--120:        hsla(170, 99%, 42%, 1);


    // ---------------------------------------------------------------------------
    // SECONDARY Colors
    // ---------------------------------------------------------------------------
    --OG-COLOR-SECONDARY--0:          hsla(0, 0%, 0%, 1);
    --OG-COLOR-SECONDARY--0--50:      hsla(0, 0%, 0%, .5);
    --OG-COLOR-SECONDARY--100:        hsla(0, 0%, 100%, 1);
    --OG-COLOR-SECONDARY--100--07:    hsla(0, 0%, 100%, .07);
    --OG-COLOR-SECONDARY--100--10:    hsla(0, 0%, 100%, .1);
    --OG-COLOR-SECONDARY--100--20:    hsla(0, 0%, 100%, .2);
    --OG-COLOR-SECONDARY--100--30:    hsla(0, 0%, 100%, .3);

    // -------------------------------------------------------------------------
    // SHADE : From dark to light.
    // -------------------------------------------------------------------------
    // Here we define a neutral color. From dark to light.
    // --0 means least "contrast" to the main theme color. dark theme -> dark;
    // --100 means most "contrast" to the main theme color. dark theme -> white;
    // --100--50 means, this tone has a 50% transparency

    --OG-COLOR-SHADE--0:        hsla(200, 15%, 0%, 1);
    --OG-COLOR-SHADE--0--30:    hsla(200, 15%, 0%, .3);
    --OG-COLOR-SHADE--50:       hsla(200, 15%, 50%, 1);
    --OG-COLOR-SHADE--70--50:   hsla(200, 25%, 70%, .5);
    --OG-COLOR-SHADE--80--05:   hsla(200, 45%, 80%, .05);
    --OG-COLOR-SHADE--100:      hsla(200, 15%, 100%, 1);
    --OG-COLOR-SHADE--100--04:  hsla(200, 45%, 100%, .04);
    --OG-COLOR-SHADE--100--10:  hsla(200, 15%, 100%, .1);
    --OG-COLOR-SHADE--100--20:  hsla(200, 15%, 100%, .2);
    --OG-COLOR-SHADE--100--30:  hsla(200, 15%, 100%, .3);
    --OG-COLOR-SHADE--100--50:  hsla(200, 15%, 100%, .5);

    // -------------------------------------------------------------------------
    // BORDER
    // -------------------------------------------------------------------------
    --OG-BORDER-RADIUS:       3px;
    --OG-BORDER-WIDTH:        1px;

    // -------------------------------------------------------------------------
    // FONT
    // -------------------------------------------------------------------------
    --OG-FONT-COLOR:                hsl(0, 0%, 100%);   // #FFFFFF
    --OG-FONT-SIZE:                 16px;
    --OG-FONT-WEIGHT:               normal;

    // -------------------------------------------------------------------------
    // SIZING
    // -------------------------------------------------------------------------
    --OG-MARGIN:     8px;
    --OG-PADDING:    8px;
}

@import 'dark-addons.theme.scss';
