@import '../mixins';

.og-theme--dark {

    @include generate-theme(hsl(0, 0%, 90%), hsla(170, 99%, 35%, 1));

    // ---------------------------------------------------------------------------
    // SECONDARY Colors
    // ---------------------------------------------------------------------------
    --OG-COLOR-SECONDARY--0:          hsla(0, 0%, 0%, 1);
    --OG-COLOR-SECONDARY--0--50:      hsla(0, 0%, 0%, .5);
    --OG-COLOR-SECONDARY--100:        hsla(0, 0%, 100%, 1);
    --OG-COLOR-SECONDARY--100--07:    hsla(0, 0%, 100%, .07);
    --OG-COLOR-SECONDARY--100--10:    hsla(0, 0%, 100%, .1);
    --OG-COLOR-SECONDARY--100--20:    hsla(0, 0%, 100%, .2);
    --OG-COLOR-SECONDARY--100--30:    hsla(0, 0%, 100%, .3);

    // -------------------------------------------------------------------------
    // SHADE : From dark to light.
    // -------------------------------------------------------------------------
    // Here we define a neutral color. From dark to light.
    // --0 means least "contrast" to the main theme color. dark theme -> dark;
    // --100 means most "contrast" to the main theme color. dark theme -> white;
    // --100--50 means, this tone has a 50% transparency

    --OG-COLOR-SHADE--0:        hsla(200, 15%, 0%, 1);
    --OG-COLOR-SHADE--0--20:    hsla(200, 15%, 0%, .2);
    --OG-COLOR-SHADE--0--30:    hsla(200, 15%, 0%, .3);
    --OG-COLOR-SHADE--0--80:    hsla(200, 15%, 0%, .8);
    --OG-COLOR-SHADE--50:       hsla(200, 15%, 50%, 1);
    --OG-COLOR-SHADE--70--50:   hsla(200, 25%, 70%, .5);
    --OG-COLOR-SHADE--80--05:   hsla(200, 45%, 80%, .05);
    --OG-COLOR-SHADE--100:      hsla(200, 15%, 100%, 1);
    --OG-COLOR-SHADE--100--04:  hsla(200, 45%, 100%, .04);
    --OG-COLOR-SHADE--100--10:  hsla(200, 15%, 100%, .1);
    --OG-COLOR-SHADE--100--20:  hsla(200, 15%, 100%, .2);
    --OG-COLOR-SHADE--100--30:  hsla(200, 15%, 100%, .3);
    --OG-COLOR-SHADE--100--40:  hsla(200, 15%, 100%, .4);
    --OG-COLOR-SHADE--100--50:  hsla(200, 15%, 100%, .5);
    --OG-COLOR-SHADE--100--60:  hsla(200, 15%, 100%, .6);
    --OG-COLOR-SHADE--100--80:  hsla(200, 15%, 100%, .8);

    // -------------------------------------------------------------------------
    // STATE Color : Success
    // -------------------------------------------------------------------------
    --OG-COLOR-SUCCESS--100:    hsla(127, 54%, 32%, 1);

    // -------------------------------------------------------------------------
    // STATE Color : Warning
    // -------------------------------------------------------------------------
    --OG-COLOR-WARNING--100:    hsla(28, 100%, 41%, 1);

    // -------------------------------------------------------------------------
    // STATE Color : Error
    // -------------------------------------------------------------------------
    --OG-COLOR-ERROR--100:    hsla(338, 100%, 36%, 1);

    // -------------------------------------------------------------------------
    // STATE Color : Info
    // -------------------------------------------------------------------------
    --OG-COLOR-INFO--100:    hsla(212, 54%, 49%, 1);

    // -------------------------------------------------------------------------
    // BORDER
    // -------------------------------------------------------------------------
    --OG-BORDER-RADIUS:       3px;
    --OG-BORDER-WIDTH:        1px;

    // -------------------------------------------------------------------------
    // FONT
    // -------------------------------------------------------------------------
    --OG-FONT-COLOR:            hsl(0, 0%, 90%);   // #e6e6e6

    --OG-FONT-SIZE--H1:         48px;
    --OG-FONT-SIZE--H2:         32px;
    --OG-FONT-SIZE--H3:         24px;
    --OG-FONT-SIZE--H4:         20px;
    --OG-FONT-SIZE:             16px; // DEFAULT
    --OG-FONT-SIZE--S:          12px;
    --OG-FONT-SIZE--XS:         10px;

    --OG-FONT-WEIGHT--LIGHT:    100;
    --OG-FONT-WEIGHT--BOOK:     200;
    --OG-FONT-WEIGHT:           300; // DEFAULT
    --OG-FONT-WEIGHT--MEDIUM:   400;
    --OG-FONT-WEIGHT--BOLD:     500;

    --OG-FONT-WEIGHT--H1:       var(--OG-FONT-WEIGHT--BOLD);
    --OG-FONT-WEIGHT--H2:       var(--OG-FONT-WEIGHT--BOLD);
    --OG-FONT-WEIGHT--H3:       var(--OG-FONT-WEIGHT--BOLD);
    --OG-FONT-WEIGHT--H4:       var(--OG-FONT-WEIGHT--BOLD);

    // -------------------------------------------------------------------------
    // SIZING
    // -------------------------------------------------------------------------
    --OG-MARGIN:     8px;
    --OG-PADDING:    8px;
}

@import 'font.scss';
@import 'dark-addons.theme.scss';
