.og-theme--light {

    // ---------------------------------------------------------------------------
    // PRIMARY Colors
    // ---------------------------------------------------------------------------
    --OG-COLOR-PRIMARY--0:          hsla(196, 76%, 100%, 1);    // #FFFFFF 100%
    --OG-COLOR-PRIMARY--0--30:      hsla(196, 76%, 100%, .3);   // #FFFFFF  30%
    --OG-COLOR-PRIMARY--0--50:      hsla(196, 76%, 100%, .5);   // #FFFFFF  50%
    --OG-COLOR-PRIMARY--80:         hsla(196, 76%, 56%, 1);     // #4AB3DB 100%
    --OG-COLOR-PRIMARY--100:        hsla(196, 76%, 47%, 1);     // #1DA1D3 100%
    --OG-COLOR-PRIMARY--100--15:    hsla(196, 76%, 47%, .15);   // #1DA1D3  15%
    --OG-COLOR-PRIMARY--100--20:    hsla(196, 76%, 47%, .2);    // #1DA1D3  20%
    --OG-COLOR-PRIMARY--100--25:    hsla(196, 76%, 47%, .25);   // #1DA1D3  25%
    --OG-COLOR-PRIMARY--100--30:    hsla(196, 76%, 47%, .3);    // #1DA1D3  30%
    --OG-COLOR-PRIMARY--100--50:    hsla(196, 76%, 47%, .5);    // #1DA1D3  50%
    --OG-COLOR-PRIMARY--120:        hsla(196, 76%, 38%, 1);     // #1780A8 100%

    // ---------------------------------------------------------------------------
    // SECONDARY Colors
    // ---------------------------------------------------------------------------
    --OG-COLOR-SECONDARY--0:          hsla(201, 41%, 100%, 1);  // #FFFFFF 100%
    --OG-COLOR-SECONDARY--0--50:      hsla(201, 41%, 100%, .5); // #FFFFFF  50%
    --OG-COLOR-SECONDARY--100:        hsla(201, 41%, 40%, 1);   // #3C7390 100%
    --OG-COLOR-SECONDARY--100--07:    hsla(201, 41%, 40%, .07); // #3C7390   7%
    --OG-COLOR-SECONDARY--100--10:    hsla(201, 41%, 40%, .1);  // #3C7390  10%
    --OG-COLOR-SECONDARY--100--20:    hsla(201, 41%, 40%, .2);  // #3C7390  20%
    --OG-COLOR-SECONDARY--100--30:    hsla(201, 41%, 40%, .3);  // #3C7390  30%

    // Here we define a neutral color. From light to dark.
    // --0 means least "contrast" to the main theme color. light theme -> white;
    // --100 means most "contrast" to the main theme color. light theme -> dark;
    // --100--50 means, this tone has a 50% transparency
    --OG-COLOR-SHADE--0:        hsla(200, 25%, 100%, 1);        // #FFFFFF 100%
    --OG-COLOR-SHADE--0--30:    hsla(200, 25%, 100%, .3);       // #FFFFFF  30%
    --OG-COLOR-SHADE--0--80:    hsla(200, 25%, 100%, .8);       // #FFFFFF  80%
    --OG-COLOR-SHADE--50:       hsla(200, 25%, 65%, 1);         // #888888 100%
    --OG-COLOR-SHADE--70--50:   hsla(200, 25%, 51%, .5);        // #888888  50%
    --OG-COLOR-SHADE--80--05:   hsla(200, 45%, 44%, .05);       // #888888   5%
    --OG-COLOR-SHADE--100:      hsla(200, 25%, 30%, 1);         // #333333 100%
    --OG-COLOR-SHADE--100--10:  hsla(200, 25%, 30%, .1);        // #333333  10%
    --OG-COLOR-SHADE--100--20:  hsla(200, 25%, 30%, .2);        // #333333  20%
    --OG-COLOR-SHADE--100--30:  hsla(200, 25%, 30%, .3);        // #333333  30%
    --OG-COLOR-SHADE--100--50:  hsla(200, 25%, 30%, .5);        // #333333  50%
    --OG-COLOR-SHADE--100--60:  hsla(200, 25%, 30%, .6);        // #333333  60%

    // ---------------------------------------------------------------------------
    // STATE Color : Success
    // ---------------------------------------------------------------------------
    --OG-COLOR-SUCCESS--100:    hsla(112, 52%, 57%, 1);         // #67CA57 100%

    // ---------------------------------------------------------------------------
    // STATE Color : Warning
    // ---------------------------------------------------------------------------
    --OG-COLOR-WARNING--100:    hsla(28, 100%, 50%, 1);         // #FF7600 100%

    // ---------------------------------------------------------------------------
    // STATE Color : Error
    // ---------------------------------------------------------------------------
    --OG-COLOR-ERROR--100:      hsla(353, 98%, 41%, 1);         // #D0021B 100%

    // ---------------------------------------------------------------------------
    // STATE Color : Info
    // ---------------------------------------------------------------------------
    --OG-COLOR-INFO--100:       hsla(212, 72%, 59%, 1);         // #4A90E2 100%


    // ---------------------------------------------------------------------------
    // BORDER
    // ---------------------------------------------------------------------------
    --OG-BORDER-RADIUS:     3px;
    --OG-BORDER-WIDTH:      1px;

    // ---------------------------------------------------------------------------
    // FONT
    // ---------------------------------------------------------------------------
    --OG-FONT-COLOR:        hsl(0, 0%, 20%);                    // #33333 100%
    --OG-FONT-SIZE:         14px;
    --OG-FONT-WEIGHT:       normal;

    // -------------------------------------------------------------------------
    // SIZING
    // -------------------------------------------------------------------------
    --OG-MARGIN:            8px;
    --OG-PADDING:           8px;
}

@import 'light-addons.theme.scss';
