.og-theme--light {

    // ---------------------------------------------------------------------------
    // PRIMARY Colors
    // ---------------------------------------------------------------------------
    --OG-COLOR-PRIMARY--0:          hsla(196, 76%, 100%, 1);
    --OG-COLOR-PRIMARY--0--30:      hsla(196, 76%, 100%, .3);
    --OG-COLOR-PRIMARY--0--50:      hsla(196, 76%, 100%, .5);
    --OG-COLOR-PRIMARY--40:         hsla(196, 76%, 74%, 1);
    --OG-COLOR-PRIMARY--80:         hsla(196, 76%, 56%, 1);
    --OG-COLOR-PRIMARY--100:        hsla(196, 76%, 47%, 1);
    --OG-COLOR-PRIMARY--100--15:    hsla(196, 76%, 47%, .15);
    --OG-COLOR-PRIMARY--100--20:    hsla(196, 76%, 47%, .2);
    --OG-COLOR-PRIMARY--100--25:    hsla(196, 76%, 47%, .25);
    --OG-COLOR-PRIMARY--100--30:    hsla(196, 76%, 47%, .3);
    --OG-COLOR-PRIMARY--100--50:    hsla(196, 76%, 47%, .5);
    --OG-COLOR-PRIMARY--120:        hsla(196, 76%, 38%, 1);

    --OG-COLOR-PRIMARY--CONTER:    hsla(196, 76%, 99%, 1);

    // ---------------------------------------------------------------------------
    // SECONDARY Colors
    // ---------------------------------------------------------------------------
    --OG-COLOR-SECONDARY--0:          hsla(201, 41%, 100%, 1);
    --OG-COLOR-SECONDARY--0--50:      hsla(201, 41%, 100%, .5);
    --OG-COLOR-SECONDARY--100:        hsla(201, 41%, 40%, 1);
    --OG-COLOR-SECONDARY--100--07:    hsla(201, 41%, 40%, .07);
    --OG-COLOR-SECONDARY--100--10:    hsla(201, 41%, 40%, .1);
    --OG-COLOR-SECONDARY--100--20:    hsla(201, 41%, 40%, .2);
    --OG-COLOR-SECONDARY--100--30:    hsla(201, 41%, 40%, .3);

    --OG-COLOR-SECONDARY--CONTER:     hsla(201, 25%, 30%, 1);

    // -------------------------------------------------------------------------
    // SHADE : From dark to light.
    // -------------------------------------------------------------------------
    // Here we define a neutral color. From light to dark.
    // --0 means least "contrast" to the main theme color. light theme -> white;
    // --100 means most "contrast" to the main theme color. light theme -> dark;
    // --100--50 means, this tone has a 50% transparency

    --OG-COLOR-SHADE--0:        hsla(200, 25%, 100%, 1);
    --OG-COLOR-SHADE--0--20:    hsla(200, 25%, 100%, .2);
    --OG-COLOR-SHADE--0--30:    hsla(200, 25%, 100%, .3);
    --OG-COLOR-SHADE--0--80:    hsla(200, 25%, 100%, .8);
    --OG-COLOR-SHADE--50:       hsla(200, 25%, 65%, 1);
    --OG-COLOR-SHADE--70--50:   hsla(200, 25%, 51%, .5);
    --OG-COLOR-SHADE--80--05:   hsla(200, 45%, 44%, .05);
    --OG-COLOR-SHADE--100:      hsla(200, 25%, 30%, 1);
    --OG-COLOR-SHADE--100--04:  hsla(200, 25%, 30%, .04);
    --OG-COLOR-SHADE--100--10:  hsla(200, 25%, 30%, .1);
    --OG-COLOR-SHADE--100--20:  hsla(200, 25%, 30%, .2);
    --OG-COLOR-SHADE--100--30:  hsla(200, 25%, 30%, .3);
    --OG-COLOR-SHADE--100--40:  hsla(200, 25%, 30%, .4);
    --OG-COLOR-SHADE--100--50:  hsla(200, 25%, 30%, .5);
    --OG-COLOR-SHADE--100--60:  hsla(200, 25%, 30%, .6);
    --OG-COLOR-SHADE--100--80:  hsla(200, 25%, 30%, .8);

    // -------------------------------------------------------------------------
    // STATE Color : Success
    // -------------------------------------------------------------------------
    --OG-COLOR-SUCCESS--100:    hsla(112, 52%, 57%, 1);

    // -------------------------------------------------------------------------
    // STATE Color : Warning
    // -------------------------------------------------------------------------
    --OG-COLOR-WARNING--100:    hsla(28, 100%, 50%, 1);

    // -------------------------------------------------------------------------
    // STATE Color : Error
    // -------------------------------------------------------------------------
    --OG-COLOR-ERROR--100:    hsla(353, 98%, 41%, 1);

    // -------------------------------------------------------------------------
    // STATE Color : Info
    // -------------------------------------------------------------------------
    --OG-COLOR-INFO--100:    hsla(212, 72%, 59%, 1);

    // -------------------------------------------------------------------------
    // BORDER
    // -------------------------------------------------------------------------
    --OG-BORDER-RADIUS:       3px;
    --OG-BORDER-WIDTH:        1px;

    // -------------------------------------------------------------------------
    // FONT
    // -------------------------------------------------------------------------
    --OG-FONT-SIZE--H1:         48px;
    --OG-FONT-SIZE--H2:         32px;
    --OG-FONT-SIZE--H3:         24px;
    --OG-FONT-SIZE--H4:         20px;
    --OG-FONT-SIZE:             16px; // DEFAULT
    --OG-FONT-SIZE--S:          12px;
    --OG-FONT-SIZE--XS:         10px;

    --OG-FONT-WEIGHT--LIGHT:    200;
    --OG-FONT-WEIGHT--BOOK:     300;
    --OG-FONT-WEIGHT:           400; // DEFAULT
    --OG-FONT-WEIGHT--MEDIUM:   500;
    --OG-FONT-WEIGHT--BOLD:     700;

    --OG-FONT-WEIGHT--H1:       var(--OG-FONT-WEIGHT);
    --OG-FONT-WEIGHT--H2:       var(--OG-FONT-WEIGHT);
    --OG-FONT-WEIGHT--H3:       var(--OG-FONT-WEIGHT);
    --OG-FONT-WEIGHT--H4:       var(--OG-FONT-WEIGHT);

    // -------------------------------------------------------------------------
    // SIZING
    // -------------------------------------------------------------------------
    --OG-MARGIN:     8px;
    --OG-PADDING:    8px;

    // -------------------------------------------------------------------------
    // APP VARIABLES
    // -------------------------------------------------------------------------
    --og-app-Background: hsla(196, 76%, 47%, 1);
    --og-app-Color: hsla(0, 0%, 20%, 1);
}

@import 'font.scss';
@import 'light-addons.theme.scss';
