// =============================================================================
// SASS MIXINS
// =============================================================================

// TEXT-OVERFLOW ELLPSIS
@mixin ellipsis() {
    overflow:       hidden;
    text-overflow:  ellipsis;
    white-space:    nowrap;
}

// OVERFLOW AUTO
@mixin overflow($x: auto, $y: auto) {
    overflow-x:             $x;
    overflow-y:             $y;
    backface-visibility:    hidden;
}