// =============================================================================
// SASS MIXINS
// =============================================================================

// TEXT-OVERFLOW ELLPSIS
@mixin ellipsis() {
    overflow:       hidden;
    text-overflow:  ellipsis;
    white-space:    nowrap;
}