// =============================================================================
// CSS CUSTOM PROPERTIES
// =============================================================================

/**
 * @prop --og-layout-container--direction: Direction of the layout container
 * @prop --og-layout-container--flex: Flex shorthand for flex items
 * @prop --og-layout-container--justify: Alignment of the main axis
 * @prop --og-layout-container--align: Alignment of the cross axis
 * @prop --og-layout-container--wrap: Determines, whether the layout items wrap or not
 * @prop --og-layout-container--overflow: Overflow behavior of the layout container
 */

:host {
    box-sizing: border-box;
    display: flex;
    flex-direction: var(--og-layout-container--direction, row);
    justify-content: var(--og-layout-container--justify, space-between);
    align-items: var(--og-layout-container--align, stretch);
    flex-wrap: var(--og-layout-container--wrap, nowrap);
    overflow: var(--og-layout-container--overflow, visible);

    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }
}

::slotted(*:not(og-layout-child)) {
    flex: 1 1 0;
}
