:host {
    // --scrollbar--size: 10px;
    --scrollbar-content-margin--right: 0;
    --scrollbar-content-margin--bottom: 0;

    // TRACK
    --scrollbar-track--color: rgba(0, 0, 0, .3);
    --scrollbar-track--size: 12px;  // width for 'scroll y', height for 'scroll x'

    // THUMB
    --scrollbar-thumb--color: var(--OG-COLOR-PRIMARY--100, #{$og-color-primary--100});
    --scrollbar-thumb--size: 12px;  // width for 'scroll y', height for 'scroll x'

    // --thumb-size--short: 10px;
    // --thumb-size--long: 60px;

    // --thumb-Background: var(--OG-COLOR-PRIMARY--100, #{$og-color-primary--100});

    display: block;
    position: relative;
    // height: 100%;        /* todo: check if neccessary */
}

.og-scroll-container__content {
    overflow: hidden;
    width: 400px;
    height: 100%;
    margin-right: var(--scrollbar-content-margin--right);
    margin-bottom: var(--scrollbar-content-margin--bottom);
}

.og-scroll-container__track {
    position: absolute;
    background: var(--scrollbar-track--color);
}

.og-scroll-container__track--x {
    top: auto;
    left: 0;
    right: 10px;
    bottom: 0;
    height: 10px;
    width: auto;
    &:hover {
        --thumb-size--short: 30px;
    }
}

.og-scroll-container__track--y {
    top: 0;
    right: 0;
    bottom: 0;
    width: var(--scrollbar--size);

    &:hover {
        --thumb-size--short: 30px;
    }
}

.og-scroll-container__thumb {
    position: relative;
    border-radius: 3px;
    background: var(--thumb--color);

    &.is-active {
        --thumb-size--short: 30px;
    }
}

.og-scroll-container__thumb--x {
    height: var(--thumb-size--short);
    width:  var(--thumb-size--long);
    top: calc(calc(var(--scrollbar--size) - var(--thumb-size--short)) / 2);
    transition: width .1s ease-in, height .1s ease-in, top .1s ease-in;
}

.og-scroll-container__thumb--y {
    width: var(--thumb-size--short);
    height: var(--thumb-size--long);
    transition: width .1s ease-in, height .1s ease-in, left .1s ease-in;
    left: calc(calc(var(--scrollbar--size) - var(--thumb-size--short)) / 2);
}

