:host {
    // TRACK
    --scrollbar-track--color: rgba(0, 0, 0, .3);
    --scrollbar-track--size: 2px;  // width for 'scroll y', height for 'scroll x'

    // THUMB
    --scrollbar-thumb--color: var(--OG-COLOR-PRIMARY--100, #{$og-color-primary--100});
    --scrollbar-thumb--size: 2px;  // width for 'scroll y', height for 'scroll x'

    --thumb-size--short: 8px;
    --thumb-size--long: 16px;

    display: block;
    position: relative;
}

.og-scroll-container__content {
    overflow: hidden;
    height: 100%;
}

.og-scroll-container__track {
    position: absolute;
    background: var(--scrollbar-track--color);
}

.og-scroll-container__track--x {
    top: auto;
    left: 0;
    right: var(--scrollbar-track--size);
    bottom: 0;
    width: auto;
    height: var(--scrollbar-track--size);

    &:hover {
        --thumb-size--short: 16px;
    }
}

.og-scroll-container__track--y {
    top: 0;
    right: 0;
    bottom: var(--scrollbar-track--size);
    width: var(--scrollbar-track--size);

    &:hover {
        --thumb-size--short: 16px;
    }
}

.og-scroll-container__thumb {
    position: absolute;
    border-radius: 3px;
    background: var(--scrollbar-thumb--color);

    &.is-active {
        --thumb-size--short: 16px;
    }
}

.og-scroll-container__thumb--x {
    width:  var(--thumb-size--long);
    height: var(--thumb-size--short);
    top: calc(calc(var(--scrollbar-track--size) - var(--thumb-size--short)) / 2);

    transition: width .1s ease-in, height .1s ease-in, top .1s ease-in;
}

.og-scroll-container__thumb--y {
    width: var(--thumb-size--short);
    height: var(--thumb-size--long);
    left: calc(calc(var(--scrollbar-track--size) - var(--thumb-size--short)) / 2);

    transition: width .1s ease-in, height .1s ease-in, left .1s ease-in;
}
