:host, 
og-tooltip {
    /* @prop --og-tooltip-BorderRadius: Background of the tooltip (shorthand) */
    --og-tooltip-Background: var(--OG-COLOR-PRIMARY--0, #FFFFFF);

    /* @prop --og-tooltip-BorderRadius: Border radius of the tooltip */
    --og-tooltip-BorderRadius: var(--OG-BORDER-RADIUS, 3px);

    /* @prop --og-tooltip-Color: Text color of the tooltip */
    --og-tooltip-Color: var(--OG-FONT-COLOR, #333333);

    /* @prop --og-tooltip-FontSize: Font size of the tooltip */
    --og-tooltip-FontSize: var(--OG-FONT-SIZE, inherit);

    /* @prop --og-tooltip-Padding: Padding of the tooltip (shorthand) */
    --og-tooltip-Padding: var(--OG-PADDING, 8px);

    /* @prop --og-tooltip-arrow--size: Size of the tooltip arrow (shorthand) */
    --og-tooltip__arrow--size: 8px;

    /* @prop --og-tooltip-arrow-Width: Width of the tooltip arrow */
    --og-tooltip__arrow-Width: var(--og-tooltip__arrow--size, 8px);
    
    /* @prop --og-tooltip-arrow-Height: Width of the tooltip arrow */
    --og-tooltip__arrow-Height: var(--og-tooltip__arrow--size, 8px);

    display: none;
    
    border-radius:  var(--og-tooltip-BorderRadius);
    box-shadow:     0 0 8px 0 rgba(0, 0, 0, .05);
    
    max-width:      var(--og-tooltip-MaxWidth, none);
    max-height:     var(--og-tooltip-MaxHeight, none);
}

.tooltip__content {
    background:     var(--og-tooltip-Background);
    border-radius:  var(--og-tooltip-BorderRadius);
    color:          var(--og-tooltip-Color);
    font-size:      var(--og-tooltip-FontSize);
    padding:        var(--og-tooltip-Padding);
}

og-tooltip[data-show],
:host([data-show]) {
    display: block;
}

#arrow,
#arrow::before {
    position: absolute;
    height: var(--og-tooltip__arrow-Height);
    width: var(--og-tooltip__arrow-Width);
    z-index: -1;
}

#arrow::before {
    content: '';
    background: var(--og-tooltip-Background);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .05);
    transform: rotate(45deg);
}

og-tooltip[data-popper-placement^='top'] > #arrow,
:host([data-popper-placement^='top']) > #arrow {
    bottom: calc(var(--og-tooltip__arrow-Height, 8px) / -2);    // result has to be negative
}

og-tooltip[data-popper-placement^='bottom'] > #arrow,
:host([data-popper-placement^='bottom']) > #arrow {
    top: calc(var(--og-tooltip__arrow-Height, 8px) / -2);    // result has to be negative
}

og-tooltip[data-popper-placement^='left'] > #arrow,
:host([data-popper-placement^='left']) > #arrow {
    right: calc(var(--og-tooltip__arrow-Width, 8px) / -2);    // result has to be negative
}

og-tooltip[data-popper-placement^='right'] > #arrow,
:host([data-popper-placement^='right']) > #arrow {
    left: calc(var(--og-tooltip__arrow-Width, 8px) / -2);    // result has to be negative
}

// Make sure that the overall tooltip dimension has a relation to the
// (increasing) viewport size
@media (min-width: 768px) {
    og-tooltip,
    :host {
        --og-tooltip-MaxWidth: 50vw;
        --og-tooltip-MaxHeight: 50vw;
    }
}

@media (min-width: 1200px) {
    og-tooltip,
    :host {
        --og-tooltip-MaxWidth: 33vw;
    }
}

@media (min-width: 1800px) {
    og-tooltip,
    :host {
        --og-tooltip-MaxWidth: 25vw;
    }
}
