// =============================================================================
// ORGENIC TOGGLE SWITCH
// =============================================================================

/**
 * @prop --og-toggle-switch__indicator-Background: Background of the toggle switch icon (shorthand)
 * @prop --og-toggle-switch__indicator-Background--active: Background of the toggle switch icon when active (shorthand)
 * @prop --og-toggle-switch__indicator-Background--hover: Background of the toggle switch icon when hovered (shorthand)
 * @prop --og-toggle-switch__indicator-Height: Width of the toggle switch icon
 * @prop --og-toggle-switch__indicator-Left: Left postion of the toggle switch icon
 * @prop --og-toggle-switch__indicator-Top: Top position of the toggle switch icon
 * @prop --og-toggle-switch__indicator-TranslateX: X position of the active toggle switch icon
 * @prop --og-toggle-switch__indicator-Width: Width of the toggle switch icon
 * @prop --og-toggle-switch__toggle-Background: Main background of the toggle switch (shorthand)
 * @prop --og-toggle-switch__toggle-Background--active: Main background of the toggle switch when active (shorthand)
 * @prop --og-toggle-switch__toggle-Background--hover: Main background of the toggle switch when hovered (shorthand)
 * @prop --og-toggle-switch__toggle-BorderColor: Border color of the toggle switch
 * @prop --og-toggle-switch__toggle-BorderWidth: Border width of the toggle switch
 * @prop --og-toggle-switch__toggle-Height: Height of the toggle switch (box model: border-box)
 * @prop --og-toggle-switch__toggle-Padding: Padding of the toggle switch
 * @prop --og-toggle-switch__toggle-Width: Width of the toggle switch (box model: border-box)
 */

:host {
    --og-toggle-switch__toggle-Width: 4rem;
    --og-toggle-switch__toggle-Height: 2rem;
    --og-toggle-switch__toggle-BorderWidth: 0px;

    --og-toggle-switch__toggle-Background: var(--OG-COLOR-SECONDARY--100--20, #{$og-color-secondary--100--20});
    --og-toggle-switch__toggle-Background--hover: var(--OG-COLOR-SECONDARY--100--30, #{$og-color-secondary--100--30});
    --og-toggle-switch__toggle-Background--active: var(--OG-COLOR-PRIMARY--100, #{$og-color-primary--100});

    --og-toggle-switch__toggle-BorderColor: none;
    --og-toggle-switch__toggle-Padding: calc((var(--og-toggle-switch__toggle-Height) - var(--og-toggle-switch__indicator-Height)) / 2 - var(--og-toggle-switch__toggle-BorderWidth));

    --og-toggle-switch__indicator-Background: var(--OG-COLOR-SECONDARY--0, #{$og-color-secondary--100});
    --og-toggle-switch__indicator-Background--hover: var(--OG-COLOR-SECONDARY--0, #{$og-color-secondary--100});
    --og-toggle-switch__indicator-Background--active: var(--OG-COLOR-SECONDARY--0, #{$og-color-secondary--100});
    --og-toggle-switch__indicator-BorderRadius: 2px;
    --og-toggle-switch__indicator-Width: 1.375rem;
    --og-toggle-switch__indicator-Height: 1.375rem;
    --og-toggle-switch__indicator-Top: var(--og-toggle-switch__toggle-Padding);
    --og-toggle-switch__indicator-Left: var(--og-toggle-switch__toggle-Padding);
    --og-toggle-switch__indicator-TranslateX: calc(var(--og-toggle-switch__toggle-Width) - var(--og-toggle-switch__indicator-Width) - ((var(--og-toggle-switch__toggle-Padding) + var(--og-toggle-switch__toggle-BorderWidth)) * 2));

    display: inline-block;
    box-sizing: border-box;
    user-select: none;
    line-height: 0;

    *, *::before, *::after { box-sizing: inherit; }
}

.og-toggle-switch__input {
    position: absolute;
    width: 0;
    height: 0;
    border: 0;
    clip: rect(0,0,0,0);
    overflow: hidden;
    margin: 0;
    padding: 0;
    outline: 0;

    &:checked + .og-toggle-switch__toggle::after {
        transform: translateX(var(--og-toggle-switch__indicator-TranslateX));
    }

    &:checked + .og-toggle-switch__toggle {
        --og-toggle-switch__toggle-Background: var(--og-toggle-switch__toggle-Background--active);
        --og-toggle-switch__indicator-Background: var(--og-toggle-switch__indicator-Background--active);
    }

    &:disabled + .og-toggle-switch__toggle {
        opacity: .5;
        cursor: default;
    }
}

.og-toggle-switch__toggle {
    outline: 0;
    display: inline-block;
    width: var(--og-toggle-switch__toggle-Width);
    height: var(--og-toggle-switch__toggle-Height);
    background: var(--og-toggle-switch__toggle-Background);
    border: var(--og-toggle-switch__toggle-BorderWidth) solid var(--og-toggle-switch__toggle-BorderColor);
    border-radius: .1875rem;
    position: relative;
    transition: background 150ms ease-in-out;
    cursor: pointer;

    &::after {
        position: absolute;
        content: "";
        border-radius: var(--og-toggle-switch__indicator-BorderRadius);
        left: var(--og-toggle-switch__indicator-Left);
        top: var(--og-toggle-switch__indicator-Top);
        width: var(--og-toggle-switch__indicator-Width);
        height: var(--og-toggle-switch__indicator-Height);

        background: var(--og-toggle-switch__indicator-Background);
        transition: all 300ms ease-in-out;
    }

    &:hover {
        --og-toggle-switch__toggle-Background: var(--og-toggle-switch__toggle-Background--hover);
        --og-toggle-switch__indicator-Background: var(--og-toggle-switch__indicator-Background--hover);
    }
}
