@import '../og-input.scss';

.og-input__visibility-button {
    width: 32px;
    height: 32px;
    cursor: pointer;
    position: absolute;
    padding: 8px;
    right: 0;
    bottom: 6px;
}

.og-input__eye {
    max-width: 100%;
    color: var(--og-input__input-Color);

    path {
        fill: currentColor;
    }
}


[type="password"] ~ .og-input__visibility-button .og-input__eye--closed {
    display: none;
}

[type="text"] ~ .og-input__visibility-button .og-input__eye--opened {
    display: none;
}
