:host {
    --og-calendar__header-BorderWidth: 1px;
    --og-calendar__header-BorderStyle: solid;
    --og-calendar__header-BorderColor: var(--OG-COLOR-SHADE--100--20, #{$og-color-shade--100--20});
    --og-calendar__header-Border: var(--og-calendar__header-BorderWidth) var(--og-calendar__header-BorderStyle) var(--og-calendar__header-BorderColor);
    
    --og-calendar__BoxShadow:    0 0 8px rgba(0, 0, 0, .05), 0 2px 4px rgba(0, 0, 0, .2);
    --og-calendar__Background:   var(--OG-COLOR-PRIMARY--0, #{$og-color-primary--0});

    --og-datepicker__flyout__item-Background:         transparent;
    --og-datepicker__flyout__item-Background--hover:  var(--OG-COLOR-PRIMARY--100--15, #{$og-color-primary--100--15});
    --og-datepicker__flyout__item-Background--active: var(--OG-COLOR-PRIMARY--100--30, #{$og-color-primary--100--30});
    --og-datepicker__flyout__item-Color:              var(--OG-COLOR-SHADE--100, #{$og-color-shade--100});

    display: inline-block;
    width: auto;
}

:host(.og-datepicker__flyout__calendar) {
    margin: 0;
    margin-top: 4px;
    padding: 16px;
    display: none;
    position: fixed;
    box-shadow: var(--og-calendar__BoxShadow);
    background: var(--og-calendar__Background);
    z-index: 9999;
    overflow-y: auto;
    backface-visibility: hidden;
}

:host(.og-datepicker__flyout__calendar--visible) {
    display: block;
}

.calendar__container {
    vertical-align: top;
    display: inline-block;

    & + & {
        margin-left: 32px;
    }
}

.calendar__header {
    display: flex;
    text-align: center;
    border-bottom: var(--og-calendar__header-Border);
}

.calender__header__main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calender__header__prefix,
.calender__header__suffix {
    padding: 4px 8px;
    min-width: 24px;
}

.calendar__main {
    display: block;
    padding-top: 8px;
}

.calendar__nav {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.calendar__nav--hidden {
    display: none;
}

.calendar__nav__icon {
    width: 8px;
}

.calender__header__month {
    display: inline-block;
    font-size: 14px;
    padding: 4px;
    text-transform: uppercase;
    font-weight: 500;
}

.calender__header__year {
    display: inline-block;
    padding: 4px;
}
