// =============================================================================
// CSS CUSTOM PROPERTIES
// =============================================================================

/**
 * @prop --og-combobox-Background: Main background color of the combobox
 * @prop --og-combobox-BorderColor: Main border color of the combobox
 * @prop --og-combobox-BorderWidth: Main border width of the combobox
 * @prop --og-combobox-BorderStyle: Main border style of the combobox
 * @prop --og-combobox-Color: Text color of the combobox
 * @prop --og-combobox-FontSize: Font size of the combobox label
 * @prop --og-combobox-Opacity: Overall opacity of the combobox
 * @prop --og-combobox-Outline: Outline of the combobox
 * @prop --og-combobox__button__arrow-Width: Width of the toggle icon
 * @prop --og-combobox__button__arrow-Height: Height of the toggle icon
 * @prop --og-combobox__button__arrow-Padding: Padding of the toggle icon
 * @prop --og-combobox__flyout-Background: Background color of the combobox list
 * @prop --og-combobox__flyout-BoxShadow: Shadow of the combobox list
 * @prop --og-combobox__flyout__item-Background: Background color of list item
 * @prop --og-combobox__flyout__item-Background--active: Background color of list item when clicked
 * @prop --og-combobox__flyout__item-Background--hover: Background color of list item when hovered
 * @prop --og-combobox__flyout__item-Color: Text color of the list item
 * @prop --og-combobox__indicator-Width: Width of the focus indicator
 * @prop --og-combobox__indicator-Height: Height of the focus indicator
 * @prop --og-combobox__indicator-Background: Color of the focus indicator
 * @prop --og-combobox__placeholder-Color: Text color of the placeholder
 */

:host {
    --og-combobox-Background:   var(--OG-COLOR-SHADE--80--05, #{$og-color-shade--80--05});
    --og-combobox-BorderColor:  var(--OG-COLOR-SHADE--100--20, #{$og-color-shade--100--20}); // --OG-COLOR-SHADE--50
    --og-combobox-BorderWidth:  1px;
    --og-combobox-BorderStyle:  solid;

    --og-combobox-Color:        var(--OG-COLOR-SHADE--100, #{$og-color-shade--100});
    --og-combobox-FontSize:     inherit;
    --og-combobox-Outline:      none;
    --og-combobox-Opacity:      1;

    --og-combobox__flyout-BoxShadow:    none;
    --og-combobox__flyout-Background:   var(--OG-COLOR-PRIMARY--0, #{$og-color-primary--0});

    --og-combobox__flyout__item-Background:         transparent;
    --og-combobox__flyout__item-Background--hover:  var(--OG-COLOR-PRIMARY--100--15, #{$og-color-primary--100--15});
    --og-combobox__flyout__item-Background--active: var(--OG-COLOR-PRIMARY--100--30, #{$og-color-primary--100--30});
    --og-combobox__flyout__item-Color:              var(--OG-COLOR-SHADE--100, #{$og-color-shade--100});

    --og-combobox__placeholder-Color:               var(--OG-COLOR-SHADE--50, #{$og-color-shade--50});

    --og-combobox__indicator-Width:         0;
    --og-combobox__indicator-Height:        2px;
    --og-combobox__indicator-Background:    var(--OG-COLOR-PRIMARY--100, #{$og-color-primary--100});

    --og-combobox__button__arrow-Width:     16px;
    --og-combobox__button__arrow-Height:    16px;
    --og-combobox__button__arrow-Padding:   25px 2px 0 2px;

    user-select: none;
    display: flex;
    flex-direction: column;
    width: auto;
    max-width: inherit;
    max-height: inherit;
    cursor: pointer;
    background: var(--og-combobox-Background);
    opacity: var(--og-combobox-Opacity);

    box-sizing: border-box;
    *, *::before, *::after { box-sizing: inherit; }
}

// <og-combobox> "on focus"
:host(.is-focused) {
    --og-combobox__button__indicator-Width: 100%;
    --og-combobox__indicator-Width: 100%;
}

// <og-combobox> disabled properties
:host([disabled]) {
    cursor: default;
    --og-combobox-Opacity: .3;
}



// Wrapper for the 'allways visible' part of the 'combobox'
.og-combobox__header {
    display: flex;
    position: relative;
    margin: 4px;
    outline: var(--og-combobox-Outline);
    border-bottom: var(--og-combobox-BorderWidth) var(--og-combobox-BorderStyle) var(--og-combobox-BorderColor);
}

// Native input element inside 'combobox' header.
.og-combobox__input {
    flex: 1;
    background: transparent;
    border: none;
    cursor: inherit;
    outline: none;
    color: var(--og-combobox-Color);
    font-size: var(--og-combobox-FontSize);
    user-select: none;
    margin: 0;
    padding-top: 25px;
    padding-bottom: 4px;

    &::placeholder {
        color: var(--og-combobox__placeholder-Color);
    }

    // Prevent Text Selection on :focus
    &::selection {
        background: transparent;
    }
}


.og-combobox__button {
    flex: none;
    width: var(--og-combobox__button__arrow-Width);
    height: var(--og-combobox__button__arrow-Width);
    padding: var(--og-combobox__button__arrow-Padding);
}

.og-combobox__indicator {
    display: var(--og-combobox__indicator-Display);
    position: absolute;
    bottom: calc(var(--og-combobox-BorderWidth) * -1);
    left: 0;
    height: var(--og-combobox__indicator-Height);
    background: var(--og-combobox__indicator-Background);
    width: var(--og-combobox__indicator-Width);
    transition: width .2s ease;
}


.og-combobox__button__arrow {
    transition: transform 0.1s;
    overflow: visible;
}

.og-combobox__button__arrow--collapsed {
    transform: rotate(180deg);
}

.og-combobox__button__arrow__line {
    stroke-linecap: round;
    stroke-linejoin: round;
}


// COMBOBOX FLYOUT
// -----------------------------------------------------------------------------

// Flyout Wrapper
.og-combobox__flyout {
    position: relative;
}

// Flyout List
.og-combobox__flyout__list {
    margin: 0;
    margin-top: 4px;
    padding: 0;
    list-style-type: none;
    display: none;
    position: fixed;
    width: 100%;
    box-shadow: var(--og-combobox__flyout-BoxShadow);
    background: var(--og-combobox__flyout-Background);
    z-index: 9999;
    overflow-y: auto;
}

.og-combobox__flyout__list--visible {
    display: block;
}

.og-combobox__flyout__list__item {
    line-height: 1.5em;
    display: block;
    cursor: pointer;
    padding: 1em 2em;
    transition: background .2s ease;
    color: var(--og-combobox__flyout__item-Color);
    background: var(--og-combobox__flyout__item-Background);

    &:hover {
        --og-combobox__flyout__item-Background: var(--og-combobox__flyout__item-Background--hover);
    }
}

.og-combobox__flyout__list__item--active,
.og-combobox__flyout__list__item--active:hover {
    --og-combobox__flyout__item-Background: var(--og-combobox__flyout__item-Background--active);
}
