// =============================================================================
// CSS CUSTOM PROPERTIES
// =============================================================================

 :host {

    /**
     * @prop --og-list-Opacity:
     * Overall opacity of the list
     */
    --og-list-Opacity: 1;

    /**
     * @prop --og-list-Opacity--disabled:
     * Overall opacity of the list when disabled
     */
    --og-list-Opacity--disabled: .5;

    box-sizing: border-box;
}

*,
*::before,
*::after { box-sizing: inherit; }


:host([disabled]) {
    --og-list-Opacity: var(--og-list-Opacity--disabled);
    --og-list-item-PointerEvents: none;
    --og-list-item-Cursor: default;
}

.og-list {
    user-select: none;
    display: flex;
    flex-direction: column;
    max-width: inherit;
    max-height: inherit;
    margin: 0px;
    padding: 0px;
    opacity: var(--og-list-Opacity);
}


