// =============================================================================
// CSS CUSTOM PROPERTIES
// =============================================================================

/**
 * @prop --og-list-item-Color: Text color of the list item
 * @prop --og-list-item-Background: Background of the list item (shorthand)
 * @prop --og-list-item-Background--active: Background of the list item when selected (shorthand)
 * @prop --og-list-item-Background--highlight: Background of the list item when hovered (shorthand)
 * @prop --og-list-item-Opacity: Opacity of the list item;
 * @prop --og-list-item-Opacity--disabled: Opacity of the list item;
 * @prop --og-list-item-BorderColor: Border color of the list item
 * @prop --og-list-item-BorderRadius: Border radius of the list item
 * @prop --og-list-item-BorderStyle: Border style of the list item
 * @prop --og-list-item-BorderWidth: Border width of the list item
 * @prop --og-list-item-Margin: Margin of the list item
 * @prop --og-list-item-MinHeight: Minimum height of the list item
 */

:host {
    --og-list-item-Color:                  var(--OG-COLOR-SHADE--100, #{$og-color-shade--100});

    --og-list-item-Background:             var(--OG-COLOR-PRIMARY--0--30, #{$og-color-primary--0--30});
    --og-list-item-Background--highlight:  var(--OG-COLOR-PRIMARY--100--15, #{$og-color-primary--100--15});
    --og-list-item-Background--active:     var(--OG-COLOR-PRIMARY--100--30, #{$og-color-primary--100--30});
    --og-list-item-Opacity:                1;
    --og-list-item-Opacity--disabled:      .5;

    --og-list-item-BorderWidth:    2px;
    --og-list-item-BorderStyle:    solid;
    --og-list-item-BorderColor:    transparent;
    --og-list-item-Margin:         0;
    --og-list-item-MinHeight:      3em;
    --og-list-item-BorderRadius:   0;

    box-sizing: border-box;
    *, *::before, *::after { box-sizing: inherit; }
}

:host([disabled]) {
    --og-list-Opacity: var(--og-list-Opacity--disabled);
    .og-list-item__content {
        cursor: default;
    }
}

.og-list-item {
    display: block;
    outline: 0;
}

.og-list-item__content {
    display: flex;
    background: var(--og-list-item-Background);
    color: var(--og-list-item-Color);
    border: var(--og-list-item-BorderWidth) var(--og-list-item-BorderStyle) var(--og-list-item-BorderColor);
    border-radius: var(--og-list-item-BorderRadius);
    margin: var(--og-list-item-Margin);
    height: var(--og-list-item-MinHeight);
    line-height: var(--og-list-item-MinHeight);
    padding-left: 1em;
    padding-right: 1em;
    opacity: var(--og-list-item-Opacity);

    :host(:not([disabled])) .og-list-item:not(.og-list-item--disabled) &:not(.og-list-item__content--selected):hover {
        --og-list-item-Background: var(--og-list-item-Background--highlight);
        cursor: pointer;
    }

    :host-context(og-list[disabled]) & {
        pointer-events: none;
    }
}

.og-list-item--disabled {
    --og-list-item-Opacity: var(--og-list-item-Opacity--disabled);
}

.og-list-item__content--selected {
    --og-list-item-Background: var(--og-list-item-Background--active);

    :host(:not([disabled])) &:hover {
        --og-list-item-Background: var(--og-list-item-Background--active);
    }
}

.og-list-item__icon {
    padding-right: 1em;
    width: var(--og-list-item-MinHeight);

    img {
        object-fit: contain;
        width: 100%;
        height: 100%;
    }
}

.og-list-item__label {
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.og-list-item__value {
    line-height: inherit;
    font-weight: bold;
}
