// =============================================================================
// CSS CUSTOM PROPERTIES
// =============================================================================

/**
 * @prop --og-layout-child--grow: flex-grow behavior
 * @prop --og-layout-child--shrink: flex-shrink behavior
 * @prop --og-layout-child--basis: flex-basis behavior
 * @prop --og-layout-child--order: Order of the layout children
 * @prop --og-layout-child--align: align-self behavior
 */

:host {
    box-sizing: border-box;
    display: block;
    flex-grow: var(--og-layout-child--grow, 1);
    flex-shrink: var(--og-layout-child--shrink, 1);
    flex-basis: var(--og-layout-child--basis, 0%);
    order: var(--og-layout-child--order, 0);
    align-self: var(--og-layout-child--align, auto);

    min-width: var(--og-layout-child--min-width);
    max-width: var(--og-layout-child--max-width);
    min-height: var(--og-layout-child--min-height);
    max-height: var(--og-layout-child--max-height);

    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }
}

:host([max-size]) {
    overflow: auto;
}
