// =============================================================================
// Textarea Element
// =============================================================================

/**
 * @prop --og-textarea-Background: Main background of the textarea container
 * @prop --og-textarea-Padding: Main padding of the textarea container

 * @prop --og-textarea__textarea-Background: Background of the textarea
 * @prop --og-textarea__textarea-BorderColor: Border color of the textarea
 * @prop --og-textarea__textarea-BorderColor--disabled: Border color of the textarea when disabled
 * @prop --og-textarea__textarea-BorderWidth: Border width of the textarea
 * @prop --og-textarea__textarea-LineHeight: Line height of the textarea
 * @prop --og-textarea__textarea-Color: Text color of the textarea
 * @prop --og-textarea__textarea-Color--disabled: Text color of the textarea when disabled
 * @prop --og-textarea__textarea-FontFamily: Font of the textarea
 * @prop --og-textarea__textarea-FontSize: Font size of the textarea
 * @prop --og-textarea__textarea-Padding: Padding of the textarea

 * @prop --og-textarea__indicator-Display: Box model of the focus indicator
 * @prop --og-textarea__indicator-Width: Width of the focus indicator
 * @prop --og-textarea__indicator-Height: Height of the focus indicator
 * @prop --og-textarea__indicator-Background: Background of the focus indicator (shorthand)

*/


:host {
    --og-textarea-Background: var(--OG-COLOR-SHADE--80--05, #{$og-color-shade--80--05});
    --og-textarea-Padding: 4px;

    --og-textarea__textarea-Background: transparent;
    --og-textarea__textarea-BorderColor: var(--OG-COLOR-SHADE--50, #{$og-color-shade--50});
    --og-textarea__textarea-BorderColor--disabled: var(--OG-COLOR-SHADE--70--50, #{$og-color-shade--70--50});
    --og-textarea__textarea-BorderWidth: 1px;
    --og-textarea__textarea-LineHeight: 1.25;
    --og-textarea__textarea-Color: inherit;
    --og-textarea__textarea-Color--disabled: var(--OG-COLOR-SHADE--100--50, #{$og-color-shade--100--50});
    --og-textarea__textarea-FontFamily: inherit;
    --og-textarea__textarea-FontSize: inherit;
    --og-textarea__textarea-Padding: 0 0 4px 0;

    --og-textarea__indicator-Display: block;
    --og-textarea__indicator-Width: 0;
    --og-textarea__indicator-Height: 2px;
    --og-textarea__indicator-Background: var(--OG-COLOR-PRIMARY--100, #{$og-color-primary--100});


    display: block;
    padding: var(--og-textarea-Padding);
    background: var(--og-textarea-Background);
    position: relative;
    box-sizing: border-box;
    *, *::before, *::after { box-sizing: inherit; }
}

// Native Input element
.og-textarea__textarea {
    display: block;
    background: var(--og-textarea__textarea-Background);
    height: 0;
    min-height: 6.6em;
    width: 100%;
    color: var(--og-textarea__textarea-Color);
    font-family: var(--og-textarea__textarea-FontFamily);
    font-size: var(--og-textarea__textarea-FontSize);
    line-height: var(--og-textarea__textarea-LineHeight);
    padding: var(--og-textarea__textarea-Padding);
    margin: 0;
    border-width: 0 0 var(--og-textarea__textarea-BorderWidth, 1px) 0;
    border-style: solid;
    border-color: var(--og-textarea__textarea-BorderColor);
    border-top: 24px solid transparent;
    outline: none;
    transition: min-height 200ms ease-in-out;
    overflow: hidden;
    max-width: 100%;
}

// A state line at the bottom of th Input
.og-textarea__indicator {
    display: var(--og-textarea__indicator-Display);
    position: absolute;
    bottom: var(--og-textarea-Padding);
    left: var(--og-textarea-Padding);
    width: var(--og-textarea__indicator-Width);
    height: var(--og-textarea__indicator-Height);
    background-color: var(--og-textarea__indicator-Background);
    transition: all 0.3s ease;
}

.og-textarea__textarea:focus {
    overflow: auto;
    backface-visibility: hidden;
    min-height: 8em;

    & + .og-textarea__indicator {
        --og-textarea__indicator-Width: calc(100% - (var(--og-textarea-Padding) * 2));
    }
}


[disabled] {
    --og-textarea__textarea-Color: var(--og-textarea__textarea-Color--disabled);
    --og-textarea__textarea-BorderColor: var(--og-textarea__textarea-BorderColor--disabled);
}
